$base-color: #71af25;
$padding: 1em;
$text-color: #414140;
$overlay: #000;
$skew: 15;

.skew{
    position: relative;
    &:after{
        content: "";
        transform: skewX(-#{$skew}deg);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}
 